<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row my-3 d-flex ">

        <div class="col-10">
      
            <div class="card border-primary mx-auto" style="width: 18rem;">
      
                <div class="card-body text-center">
      
                    <h5 class="card-title">Contact US</h5>
      
                    <p class="card-text">Call us at : (+212) 566789623 for assistance.</p>
                    <p class="card-text">Email us at :  movies.info&commat;info.com</p>
      
                </div>
      
            </div>
            
        </div>
        <div class="col-2">
          OR
        </div>
        
    </div>
  </div>
  <div class="col-6">
    <div style="width: 700px;">
      <h2>make a comment</h2>
      <form class="form-control w-50" [formGroup]="group" (ngSubmit)="handleEv()">
        <label for="exampleFormControlInput1" class="form-label" >Email address (Optional)</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="mail" >
         <label for="exampleFormControlTextarea1" class="form-label">comment</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="comment" required>text goes here</textarea>
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!group.valid" [disabled]="added" value="Submit" >submit</button>
      </form>
     
    </div>
  </div>
  
</div>





<!--

<div class="container mb-3">
  <form class="form-control w-50" [formGroup]="group" (ngSubmit)="handleEv()">
    <label for="name" class="form-label">Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" formControlName="name" required>

    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" formControlName="mail" required>

    <label for="comment" class="form-label">Comment:</label>
    <textarea class="form-control" id="comment" name="comment" placeholder="Type your comment here" rows="3" formControlName="comment" required></textarea>

    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!group.valid" data-bs-toggle="popover" title="Status" data-bs-content="Success!">Submit</button>
  </form>
</div>
-->