<div class="card m-2 " style="width: 18rem;height: 570px;">
    <img *ngIf="film.poster_path" src="https://image.tmdb.org/t/p/w300{{ film.poster_path }}" class="card-img-top" alt="not yet" [routerLink]="['/detail/',film.id]">
    <div class="card-body">
      <h5 class="card-title"> {{film.title}} </h5>
      <!--<p class="card-text"><b>Description</b> :{{film.description}}</p>-->
      <div class="d-flex ">
        <a (click)="handleClick()" class="btn btn-primary d-flex w-75 text-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop">addToFavories 
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill mx-2" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
          </svg>
        </a>
        <div  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Auth error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
              </div>
            </div>
          </div>
        </div>
        <a class="d-flex w-25 mx-4 " [routerLink]="['/detail/',film.id]" >

            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
              </svg>
        </a>
      </div>
      
    </div>
  </div>

  